@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
* {
  text-align: left;
  padding: 0;
  margin: 0;
} 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #121212;
  background-color: #ffffff;
  overflow-y: scroll;
  font-synthesis: none;
  font-family: 'Space Grotesk', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: inline;
}

#app {
  max-width: 1280px;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

#container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width:100vw;
  margin-top: 10rem;
  gap:1rem;
}
#login-heading{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width:40rem;
}
#home-heading{
  display:flex;
  flex-direction: column;
  width:40rem;
}
#home-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width:100vw;
  gap:1rem
}



#login-link{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#login-link > a{
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5rem;
}

#navbar{
  background-color: #ffffff;
  color: #121212;
  font-size: 1.8em;
  font-weight:800;
  width: 100vw;
}

button {
  border-radius: 8px;
  border: 2px solid #121212;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2080F6;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 20rem;
  text-align: center;
}
.delete {
  margin: 0.75rem;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 0.75rem;
  font-family: inherit;
  background-color: #2080F6;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 10rem;
  text-align: center;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  margin: 15%;
  margin-bottom: 5%;
}

h2{
  text-align: center;
}

h3{
  margin: 2%;
}

h4{
  text-align: center;
}

h5{
  padding: 1%;
  font-size: xx-large;
  font-weight: 900;
}
